<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <h2 class="ixtitle">
        Essa é a página principal no sistema tal
    </h2>
    <p class="ixtitle">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident ex, at ipsa debitis unde eaque esse quaerat architecto dolore, fugit quo doloremque sed eveniet iste totam, numquam quasi! Cum, sapiente.
        Distinctio, veritatis iusto totam consequatur odit quae exercitationem deleniti temporibus ex! Nisi, dolor. Consequuntur aspernatur vel cumque itaque. Enim, placeat. Iusto amet blanditiis tempora impedit? Dolorum commodi quis voluptate saepe?
        Hic iusto accusantium consequuntur excepturi voluptas nulla officia optio, numquam quasi corrupti, velit facere non molestias, aperiam natus deserunt! Iusto tempora hic incidunt a dolores rem excepturi facilis velit corrupti.
    </p>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/foot.ejs') %>
</body>
</html>